

.NavbarContainer {
    position: sticky;
    background-color: white;
    top: 0px;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.logo {
    padding: 8px;
}

.logo img {
    top: 10px;
    width: 125px;
}

.navlinks {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
} 

.navlinks:hover {
    color: red;
    border-bottom: 3px solid red;
}

.navlinks img {
    width: 23px;
    color: green;
}

#dd {
    fill: rgb(243, 16, 16);
}

.DashboardPortal {
    padding-top: 20px;
    padding-right: 30px;
}
.btn-btn{
    width: 70px;
    padding: 5px;
    background-color: blueviolet;
}
