.SearchContentContainer{
    background-color: rgb(19,65,117);
    padding: 70px;
    position: relative;
  
}
.BIDF{
    position: absolute;
    font-size: 30px;
    top: 80px;
    left: 33%;
    color: black;
}
.SearchContentSmall_container{
    border-radius: 30px;
    padding: 80px;
    background-color: white;
    box-shadow: 5px 10px 3px rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}

.labels{
    margin-left: 7px;
    font-size: 17px;
    color: rgb(14, 13, 13);
}
.All{
    border: 1px solid black;
    width: 160px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 9px;
    margin-top:7px;
    color: rgb(131, 128, 128);
    cursor: pointer;
}
.All:hover{
   background-color: rgb(14, 13, 13);
   color: white;
   transition: all .8s;
}
.btnSearch{
    position: absolute;
    top: 272px;
    left: 43%;
}
.btnSearch button{
    width: 170px;
    letter-spacing: 8px;
    font-size: 18px;
    background-color: rgb(13,110,253);
    color: white;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.btnSearch button:hover{
    background-color: rgb(19,65,117);
}